@model Car

@{
    ViewData["Title"] = "Edit a Car";
}
<h1>Edit Car Details</h1>

<div class="row">
    <div class="col-md-4">
        <form enctype="multipart/form-data" asp-controller="Car" asp-action="Edit" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CarId" class="control-label"></label>
                <input asp-for="CarId" class="form-control" />
                <span asp-validation-for="CarId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Make" class="control-label"></label>
                <textarea rows="6" cols="50" asp-for="Make" class="form-control"></textarea>
                <span asp-validation-for="Make" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Model" class="control-label"></label>
                <input asp-for="Model" class="form-control" />
                <span asp-validation-for="Model" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Year" class="control-label"></label>
                <input asp-for="Year" class="form-control" />
                <span asp-validation-for="Year" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Color" class="control-label"></label>
                <input asp-for="Color" class="form-control" />
                <span asp-validation-for="Color" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CarStatus" class="control-label"></label>
                <input asp-for="CarStatus" class="form-control" />
                <span asp-validation-for="CarStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageFile" class="control-label"></label>
                <div class="custom-file">
                    <input asp-for="ImageFile" class="form-control custom-file-input" id="uploadPhoto" onchange="previewFile()" />
                </div>
            </div>
            <div>
                <img src=@("/images/"+Model.ImagePath) width="100" id="preview" border=1 />
            </div>

            <input type="hidden" asp-for="ImagePath" />
            <input type="hidden" asp-for="CarId" />
            <div class="form-group">
                <input type="submit" value="Save Changes" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<script type="text/javascript">
    function previewFile(){

        var preview =  document.getElementById("preview");
        var file = document.getElementById("uploadPhoto").files[0];

        var reader = new FileReader();
        reader.onloadend = function() {
            preview.src = reader.result;
        }
        if (file) {
            reader.readAsDataURL(file);
        }
        else {
            preview.src = "";
        }
    }
</script>