<!DOCTYPE html>
<html lang="en">
<head>
    <!-- meta data -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <!--font-family-->
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Rufina:400,700" rel="stylesheet">

    <!-- title of site -->
    <title>77CarRental</title>

    <!-- For favicon png -->
    <link rel="shortcut icon" type="icon" href="logo/favicon.png" />

    <!--font-awesome.min.css-->
    <link rel="stylesheet" href="css/font-awesome.min.css">

    <!--linear icon css-->
    <link rel="stylesheet" href="css/linearicons.css">

    <!--flaticon.css-->
    <link rel="stylesheet" href="css/flaticon.css">

    <!--animate.css-->
    <link rel="stylesheet" href="css/animate.css">

    <!--owl.carousel.css-->
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">


    <!--bootstrap.min.css-->
	<!--style.css-->
	<link rel="stylesheet" href="css/style.css">
	
	<link rel="stylesheet" href="css/bootstrap.min.css">
	
    <!-- bootsnav -->
    <link rel="stylesheet" href="css/bootsnav.css">

  

    <!--responsive.css-->
    <link rel="stylesheet" href="css/responsive.css">
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
	<!--[if lte IE 9]>
		<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
	<![endif]-->
	<!--welcome-hero start -->
	<section id="home" class="welcome-hero">
     <div class="container">
			<div class="welcome-hero-txt">
				<h2>get your desired car in resonable price</h2>
				<p>
					Discover your dream car at an unbeatable price with our extensive selection of vehicles. Whether you're seeking luxury, performance, or practicality, we offer a diverse range of options to suit every preference and budget. 
					
				</p>
				<button class="welcome-btn" onclick="scrollToContact()">contact us</button>
			</div>
		</div>

		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="model-search-content">
						<div class="row">
							<div class="col-md-offset-1 col-md-2 col-sm-12">
								<div class="single-model-search">
									<h2>select year</h2>
									<div class="model-select-icon">
										<select class="form-control">

											<option value="default">year</option><!-- /.option-->

											<option value="2018">2018</option><!-- /.option-->

											<option value="2017">2017</option><!-- /.option-->
											<option value="2016">2016</option><!-- /.option-->

										</select><!-- /.select-->
									</div><!-- /.model-select-icon -->
								</div>
								<div class="single-model-search">
									<h2>body style</h2>
									<div class="model-select-icon">
										<select class="form-control">

											<option value="default">style</option><!-- /.option-->

											<option value="sedan">sedan</option><!-- /.option-->

											<option value="van">van</option><!-- /.option-->
											<option value="roadster">roadster</option><!-- /.option-->

										</select><!-- /.select-->
									</div><!-- /.model-select-icon -->
								</div>
							</div>
							<div class="col-md-offset-1 col-md-2 col-sm-12">
								<div class="single-model-search">
									<h2>select make</h2>
									<div class="model-select-icon">
										<select class="form-control">

											<option value="default">make</option><!-- /.option-->

											<option value="toyota">toyota</option><!-- /.option-->

											<option value="holden">holden</option><!-- /.option-->
											<option value="maecedes-benz">maecedes-benz.</option><!-- /.option-->

										</select><!-- /.select-->
									</div><!-- /.model-select-icon -->
								</div>
								<div class="single-model-search">
									<h2>car condition</h2>
									<div class="model-select-icon">
										<select class="form-control">

											<option value="default">condition</option><!-- /.option-->

											<option value="something">something</option><!-- /.option-->

											<option value="something">something</option><!-- /.option-->
											<option value="something">something</option><!-- /.option-->

										</select><!-- /.select-->
									</div><!-- /.model-select-icon -->
								</div>
							</div>
							<div class="col-md-offset-1 col-md-2 col-sm-12">
								<div class="single-model-search">
									<h2>select model</h2>
									<div class="model-select-icon">
										<select class="form-control">

											<option value="default">model</option><!-- /.option-->

											<option value="kia-rio">kia-rio</option><!-- /.option-->

											<option value="mitsubishi">mitsubishi</option><!-- /.option-->
											<option value="ford">ford</option><!-- /.option-->

										</select><!-- /.select-->
									</div><!-- /.model-select-icon -->
								</div>
								<div class="single-model-search">
									<h2>select price</h2>
									<div class="model-select-icon">
										<select class="form-control">

											<option value="default">price</option><!-- /.option-->

											<option value="$0.00">$10.00</option><!-- /.option-->

											<option value="$0.00">$20.00</option><!-- /.option-->
											<option value="$0.00">$30.00</option><!-- /.option-->

										</select><!-- /.select-->
									</div><!-- /.model-select-icon -->
								</div>
							</div>
							<div class="col-md-2 col-sm-12">
								<div class="single-model-search text-center">
									<a class="btn btn-primary model-search-btn" href="/Car">
										Search
									</a>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>

	</section><!--/.welcome-hero-->
	<!--welcome-hero end -->
	<!--service start -->
	<section id="service" class="service">
		<div class="container">
			<div class="service-content">
				<div class="row">
					<div class="col-md-4 col-sm-6">
						<div class="single-service-item">
							<div class="single-service-icon">
								<i class="flaticon-car"></i>
							</div>
							<h2><a href="#">largest dealership <span> of</span> car</a></h2>
							<p>
							 Discover an extensive collection of vehicles at our dealership, boasting an unparalleled selection of cars from renowned brands. 
							 	</p>
						</div>
					</div>
					<div class="col-md-4 col-sm-6">
						<div class="single-service-item">
							<div class="single-service-icon">
								<i class="flaticon-car-repair"></i>
							</div>
							<h2><a href="#">unlimited repair warrenty</a></h2>
							<p>
							Drive with peace of mind knowing that every vehicle purchase comes with our exclusive unlimited repair warranty.
                           </p>
						</div>
					</div>
					<div class="col-md-4 col-sm-6">
						<div class="single-service-item">
							<div class="single-service-icon">
								<i class="flaticon-car-1"></i>
							</div>
							<h2><a href="#">insurence support</a></h2>
							<p>
							 We're here to guide you through the insurance process, helping you find the best coverage options tailored to your needs. 
							 </p>
						</div>
					</div>
				</div>
			</div>
		</div><!--/.container-->

	</section><!--/.service-->
	<!--service end-->
	<!--new-cars start -->
	<section id="new-cars" class="new-cars">
		<div class="container">
			<div class="section-header">
				<p>checkout <span>the</span> latest cars</p>
				<h2>newest cars</h2>
			</div><!--/.section-header-->
			<div class="new-cars-content">
				<div class="owl-carousel owl-theme" id="new-cars-carousel">
					<div class="new-cars-item">
						<div class="single-new-cars-item">
							<div class="row">
								<div class="col-md-7 col-sm-12">
									<div class="new-cars-img">
										<img src="images/new-cars-model/ncm1.png" alt="img" />
									</div><!--/.new-cars-img-->
								</div>
								<div class="col-md-5 col-sm-12">
									<div class="new-cars-txt">
										<h2><a href="#">chevrolet camaro <span> za100</span></a></h2>
										<p>
											The Chevrolet Camaro WMV20 is a modern American muscle car that embodies power, performance, and style. Its sleek design and aggressive stance make a bold statement on the road. Equipped with a potent engine and advanced technology, the Camaro delivers an exhilarating driving experience.
										</p>
										<p class="new-cars-para2">
											With its impressive acceleration and responsive handling, the Camaro is engineered to thrill. Whether cruising on the highway or tearing up the track, this iconic car offers an unmatched level of excitement.
										</p>
										<button class="welcome-btn new-cars-btn" onclick="window.location.href='#'">
											view details
										</button>
									</div><!--/.new-cars-txt-->
								</div><!--/.col-->
							</div><!--/.row-->
						</div><!--/.single-new-cars-item-->
					</div><!--/.new-cars-item-->
					<div class="new-cars-item">
						<div class="single-new-cars-item">
							<div class="row">
								<div class="col-md-7 col-sm-12">
									<div class="new-cars-img">
										<img src="images/new-cars-model/ncm2.png" alt="img" />
									</div><!--/.new-cars-img-->
								</div>
								<div class="col-md-5 col-sm-12">
									<div class="new-cars-txt">
										<h2><a href="#">BMW series-3 wagon</a></h2>
										<p>
											The BMW Series 3 Wagon combines practicality with luxury, offering ample space and comfort for both passengers and cargo. Its sophisticated design and advanced features make it a standout choice for those who value style and performance.
										</p>
										<p class="new-cars-para2">
											With its powerful engine and responsive handling, the Series 3 Wagon delivers an exhilarating driving experience. Whether you're navigating city streets or embarking on a road trip, this versatile vehicle ensures a smooth and enjoyable ride.
										</p>
										<button class="welcome-btn new-cars-btn" onclick="window.location.href='#'">
											view details
										</button>
									</div><!--/.new-cars-txt-->
								</div><!--/.col-->
							</div><!--/.row-->
						</div><!--/.single-new-cars-item-->
					</div><!--/.new-cars-item-->
					<div class="new-cars-item">
						<div class="single-new-cars-item">
							<div class="row">
								<div class="col-md-7 col-sm-12">
									<div class="new-cars-img">
										<img src="images/new-cars-model/ncm3.png" alt="img" />
									</div><!--/.new-cars-img-->
								</div>
								<div class="col-md-5 col-sm-12">
									<div class="new-cars-txt">
										<h2><a href="#">ferrari 488 superfast</a></h2>
										<p>
											The Ferrari 488 Superfast is the epitome of speed and luxury, offering an exhilarating driving experience like no other. Its sleek design and powerful engine make it a dream car for enthusiasts and collectors alike.
										</p>
										<p class="new-cars-para2">
											With its advanced technology and precision engineering, the 488 Superfast delivers unmatched performance on the road or the track. Every detail of this masterpiece is crafted to perfection, ensuring a thrilling ride every time.
										</p>
										<button class="welcome-btn new-cars-btn" onclick="window.location.href='#'">
											view details
										</button>
									</div><!--/.new-cars-txt-->
								</div><!--/.col-->
							</div><!--/.row-->
						</div><!--/.single-new-cars-item-->
					</div><!--/.new-cars-item-->
				</div><!--/#new-cars-carousel-->
			</div><!--/.new-cars-content-->
		</div><!--/.container-->

	</section><!--/.new-cars-->
	<!--new-cars end -->
	<!--featured-cars start -->
	<section id="featured-cars" class="featured-cars">
		<div class="container">
			<div class="section-header">
				<p>checkout <span>the</span> featured cars</p>
				<h2>featured cars</h2>
			</div><!--/.section-header-->
			<div class="featured-cars-content">
				<div class="row">
					<div class="col-lg-3 col-md-4 col-sm-6">
						<div class="single-featured-cars">
							<div class="featured-img-box">
								<div class="featured-cars-img">
									<img src="images/featured-cars/fc1.png" alt="cars">
								</div>
								<div class="featured-model-info">
									<p>
										model: 2017
										<span class="featured-mi-span"> 3100 mi</span>
										<span class="featured-hp-span"> 240HP</span>
										automatic
									</p>
								</div>
							</div>
							<div class="featured-cars-txt">
								<h2><a href="#">BMW 6-series gran coupe</a></h2>
								<h3>$89,395</h3>
								<p>
									Experience the epitome of luxury and performance with the BMW 6-Series Gran Coupe. Crafted with precision engineering and sleek design, this premium vehicle offers unparalleled comfort and exhilarating driving dynamics. 
							
								</p>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-4 col-sm-6">
						<div class="single-featured-cars">
							<div class="featured-img-box">
								<div class="featured-cars-img">
									<img src="images/featured-cars/fc2.png" alt="cars">
								</div>
								<div class="featured-model-info">
									<p>
										model: 2017
										<span class="featured-mi-span"> 3100 mi</span>
										<span class="featured-hp-span"> 240HP</span>
										automatic
									</p>
								</div>
							</div>
							<div class="featured-cars-txt">
								<h2><a href="#">chevrolet camaro <span>wmv20</span></a></h2>
								<h3>$66,575</h3>
								<p>
									Unleash the power of American muscle with the Chevrolet Camaro WMV20. With its iconic design and powerful performance, this legendary sports car offers an exhilarating driving experience. 
								</p>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-4 col-sm-6">
						<div class="single-featured-cars">
							<div class="featured-img-box">
								<div class="featured-cars-img">
									<img src="images/featured-cars/fc3.png" alt="cars">
								</div>
								<div class="featured-model-info">
									<p>
										model: 2017
										<span class="featured-mi-span"> 3100 mi</span>
										<span class="featured-hp-span"> 240HP</span>
										automatic
									</p>
								</div>
							</div>
							<div class="featured-cars-txt">
								<h2><a href="#">lamborghini <span>v520</span></a></h2>
								<h3>$125,250</h3>
								<p>
									This legendary sports car offers an exhilarating driving experience. Starting at an affordable price point, the Camaro WMV20 delivers thrills on every journey.
								
								</p>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-4 col-sm-6">
						<div class="single-featured-cars">
							<div class="featured-img-box">
								<div class="featured-cars-img">
									<img src="images/featured-cars/fc4.png" alt="cars">
								</div>
								<div class="featured-model-info">
									<p>
										model: 2017
										<span class="featured-mi-span"> 3100 mi</span>
										<span class="featured-hp-span"> 240HP</span>
										automatic
									</p>
								</div>
							</div>
							<div class="featured-cars-txt">
								<h2><a href="#">audi <span> a3</span> sedan</a></h2>
								<h3>$95,500</h3>
								<p>
									Crafted with precision engineering and sleek design, this premium vehicle offers unparalleled comfort and exhilarating driving dynamics
								</p>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-3 col-md-4 col-sm-6">
						<div class="single-featured-cars">
							<div class="featured-img-box">
								<div class="featured-cars-img">
									<img src="images/featured-cars/fc4.png" alt="cars">
								</div>
								<div class="featured-model-info">
									<p>
										model: 2017
										<span class="featured-mi-span"> 3100 mi</span>
										<span class="featured-hp-span"> 240HP</span>
										automatic
									</p>
								</div>
							</div>
							<div class="featured-cars-txt">
								<h2><a href="#">infiniti <span>z5</span></a></h2>
								<h3>$36,850</h3>
								<p>
								Experience luxury and performance with the Infiniti Z5. Combining sleek styling with advanced technology, this premium sedan offers a refined driving experience.
								</p>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-4 col-sm-6">
						<div class="single-featured-cars">
							<div class="featured-img-box">
								<div class="featured-cars-img">
									<img src="images/featured-cars/fc5.png" alt="cars">
								</div>
								<div class="featured-model-info">
									<p>
										model: 2017
										<span class="featured-mi-span"> 3100 mi</span>
										<span class="featured-hp-span"> 240HP</span>
										automatic
									</p>
								</div>
							</div>
							<div class="featured-cars-txt">
								<h2><a href="#">porsche <span>718</span> cayman</a></h2>
								<h3>$48,500</h3>
								<p>
								The Porsche 718 Cayman embodies the essence of sportiness and agility. With its mid-engine layout and precise handling, it delivers an exhilarating driving experience
								</p>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-4 col-sm-6">
						<div class="single-featured-cars">
							<div class="featured-img-box">
								<div class="featured-cars-img">
									<img src="images/featured-cars/fc7.png" alt="cars">
								</div>
								<div class="featured-model-info">
									<p>
										model: 2017
										<span class="featured-mi-span"> 3100 mi</span>
										<span class="featured-hp-span"> 240HP</span>
										automatic
									</p>
								</div>
							</div>
							<div class="featured-cars-txt">
								<h2><a href="#"><span>bmw 8-</span>series coupe</a></h2>
								<h3>$56,000</h3>
								<p>
								The BMW 8-Series Coupe is a symbol of luxury and performance. With its sleek design and powerful engine options, it offers an unmatched driving experience
								</p>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-4 col-sm-6">
						<div class="single-featured-cars">
							<div class="featured-img-box">
								<div class="featured-cars-img">
									<img src="images/featured-cars/fc8.png" alt="cars">
								</div>
								<div class="featured-model-info">
									<p>
										model: 2017
										<span class="featured-mi-span"> 3100 mi</span>
										<span class="featured-hp-span"> 240HP</span>
										automatic
									</p>
								</div>
							</div>
							<div class="featured-cars-txt">
								<h2><a href="#">BMW <span> x</span>series-6</a></h2>
								<h3>$75,800</h3>
								<p>
								The BMW X6 is a dynamic Sports Activity Coupe that combines the agility of a sports car with the versatility of an SUV. With its bold design and powerful performance, the X6 delivers an exhilarating driving experience
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div><!--/.container-->

	</section><!--/.featured-cars-->
	<!--featured-cars end -->
	<!-- clients-say strat -->
	<section id="clients-say" class="clients-say">
		<div class="container">
			<div class="section-header">
				<h2>what our clients say</h2>
			</div><!--/.section-header-->
			<div class="row">
				<div class="owl-carousel testimonial-carousel">
					<div class="col-sm-12 col-xs-12 col-lg-12">
						<div class="single-testimonial-box">
							<div class="testimonial-description">
								<div class="testimonial-info">
									<div class="testimonial-img">
										<img src="images/clients/c1.png" alt="image of clients person" />
									</div><!--/.testimonial-img-->
								</div><!--/.testimonial-info-->
								<div class="testimonial-comment">
									<p>
										Service was excellent and it was an efficient process. We would certainly rent again and recommend Leisure to others
									</p>
								</div><!--/.testimonial-comment-->
								<div class="testimonial-person">
									<h2><a href="#">tomas lili</a></h2>
									<h4>new york</h4>
								</div><!--/.testimonial-person-->
							</div><!--/.testimonial-description-->
						</div><!--/.single-testimonial-box-->
					</div><!--/.col-->
					<div class="col-sm-12 col-xs-12 col-lg-12">
						<div class="single-testimonial-box">
							<div class="testimonial-description">
								<div class="testimonial-info">
									<div class="testimonial-img">
										<img src="images/clients/c2.png" alt="image of clients person" />
									</div><!--/.testimonial-img-->
								</div><!--/.testimonial-info-->
								<div class="testimonial-comment">
									<p>
										Had a great experience with my rental, great on gas and great communication.
									</p>
								</div><!--/.testimonial-comment-->
								<div class="testimonial-person">
									<h2><a href="#">romi rain</a></h2>
									<h4>london</h4>
								</div><!--/.testimonial-person-->
							</div><!--/.testimonial-description-->
						</div><!--/.single-testimonial-box-->
					</div><!--/.col-->
					<div class="col-sm-12 col-xs-12 col-lg-12">
						<div class="single-testimonial-box">
							<div class="testimonial-description">
								<div class="testimonial-info">
									<div class="testimonial-img">
										<img src="images/clients/c3.png" alt="image of clients person" />
									</div><!--/.testimonial-img-->
								</div><!--/.testimonial-info-->
								<div class="testimonial-comment">
									<p>
										Service was excellent and it was an efficient process. We would certainly rent again and recommend Leisure to others
									</p>
								</div><!--/.testimonial-comment-->
								<div class="testimonial-person">
									<h2><a href="#">john doe</a></h2>
									<h4>washington</h4>
								</div><!--/.testimonial-person-->
							</div><!--/.testimonial-description-->
						</div><!--/.single-testimonial-box-->
					</div><!--/.col-->
				</div><!--/.testimonial-carousel-->
			</div><!--/.row-->
		</div><!--/.container-->

	</section><!--/.clients-say-->
	<!-- clients-say end -->
	<!--brand strat -->
	<section id="brand" class="brand">
		<div class="container">
			<div class="brand-area">
				<div class="owl-carousel owl-theme brand-item">
					<div class="item">
						<a href="#">
							<img src="images/brand/br1.png" alt="brand-image" />
						</a>
					</div><!--/.item-->
					<div class="item">
						<a href="#">
							<img src="images/brand/br2.png" alt="brand-image" />
						</a>
					</div><!--/.item-->
					<div class="item">
						<a href="#">
							<img src="images/brand/br3.png" alt="brand-image" />
						</a>
					</div><!--/.item-->
					<div class="item">
						<a href="#">
							<img src="images/brand/br4.png" alt="brand-image" />
						</a>
					</div><!--/.item-->

					<div class="item">
						<a href="#">
							<img src="images/brand/br5.png" alt="brand-image" />
						</a>
					</div><!--/.item-->

					<div class="item">
						<a href="#">
							<img src="images/brand/br6.png" alt="brand-image" />
						</a>
					</div><!--/.item-->
				</div><!--/.owl-carousel-->
			</div><!--/.clients-area-->

		</div><!--/.container-->

	</section><!--/brand-->
	<!--brand end -->
	<!--blog start -->
	<section id="blog" class="blog"></section><!--/.blog-->
	<!--blog end -->
	<!--contact start-->
	<footer id="contact" class="contact">
		<div class="container">
			<div class="footer-top">
				<div class="row">
					<div class="col-md-3 col-sm-6 col-lg-6">
						<div class="single-footer-widget">
							<div class="footer-logo">
								<a href="index.html">77CarRental</a>
							</div>
							<p>
								Ased do eiusm tempor incidi ut labore et dolore magnaian aliqua. Ut enim ad minim veniam.
							</p>
							<div class="footer-contact">
								<p>info@themesine.com</p>
								<p>+1 (885) 2563154554</p>
							</div>
						</div>
					</div>
					<div class="col-md-2 col-sm-6">
						<div class="single-footer-widget">
							<h2>about devloon</h2>
							<ul>
								<li><a href="#">about us</a></li>
								<li><a href="#">career</a></li>
								<li><a href="#">terms <span> of service</span></a></li>
								<li><a href="#">privacy policy</a></li>
							</ul>
						</div>
					</div>
					<div class="col-md-3 col-xs-12">
						<div class="single-footer-widget">
							<h2>top brands</h2>
							<div class="row">
								<div class="col-md-7 col-xs-6">
									<ul>
										<li><a href="#">BMW</a></li>
										<li><a href="#">lamborghini</a></li>
										<li><a href="#">camaro</a></li>
										<li><a href="#">audi</a></li>
										<li><a href="#">infiniti</a></li>
										<li><a href="#">nissan</a></li>
									</ul>
								</div>
								<div class="col-md-5 col-xs-6">
									<ul>
										<li><a href="#">ferrari</a></li>
										<li><a href="#">porsche</a></li>
										<li><a href="#">land rover</a></li>
										<li><a href="#">aston martin</a></li>
										<li><a href="#">mersedes</a></li>
										<li><a href="#">opel</a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-offset-1 col-md-3 col-sm-6">
						<div class="single-footer-widget">
							<h2>news letter</h2>
							<div class="footer-newsletter">
								<p>
									Subscribe to get latest news  update and informations
								</p>
							</div>
							<div class="hm-foot-email">
								<div class="foot-email-box">
									<input type="text" class="form-control" placeholder="Add Email">
								</div><!--/.foot-email-box-->
								<div class="foot-email-subscribe">
									<span><i class="fa fa-arrow-right"></i></span>
								</div><!--/.foot-email-icon-->
							</div><!--/.hm-foot-email-->
						</div>
					</div>
				</div>
			</div>
			<div class="footer-copyright">
				<div class="row">
					<div class="col-sm-6">
						<p>
							&copy; copyright.designed and developed by <a href="https://www.themesine.com/">themesine</a>.
						</p><!--/p-->
					</div>
					<div class="col-sm-6">
						<div class="footer-social">
							<a href="#"><i class="fa fa-facebook"></i></a>
							<a href="#"><i class="fa fa-instagram"></i></a>
							<a href="#"><i class="fa fa-linkedin"></i></a>
							<a href="#"><i class="fa fa-pinterest-p"></i></a>
							<a href="#"><i class="fa fa-behance"></i></a>
						</div>
					</div>
				</div>
			</div><!--/.footer-copyright-->
		</div><!--/.container-->

		<div id="scroll-Top">
			<div class="return-to-top">
				<i class="fa fa-angle-up " id="scroll-top" data-toggle="tooltip" data-placement="top" title="" data-original-title="Back to Top" aria-hidden="true"></i>
			</div>

		</div><!--/.scroll-Top-->

	</footer><!--/.contact-->
	<!--contact end-->
	<!-- Include all js compiled plugins (below), or include individual files as needed -->

	<script src="js/jquery.js"></script>
	<script>
		function scrollToContact() {
			// Smooth scroll to the contact section
			document.querySelector('#contact').scrollIntoView({
				behavior: 'smooth'
			});
		}
	</script>
	<!--modernizr.min.js-->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>

	<!--bootstrap.min.js-->
	<script src="js/bootstrap.min.js"></script>

	<!-- bootsnav js -->
	<script src="js/bootsnav.js"></script>

	<!--owl.carousel.js-->
	<script src="js/owl.carousel.min.js"></script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>

	<!--Custom JS-->
	<script src="js/custom.js"></script>

</body>

</html>